/*
Theme Name: IPSJ
Theme URI: http://ipsj.org.br
Author: Uébi! Agência Digital
Author URI: https://uebidigital.com.br
Description: Desenvolvido para o site da IPSJ
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ipsj
Tags: bootstrap, responsive
*/
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.logo {
	background: #005131;
	padding-top: 28px;
	padding-bottom: 28px;
	text-align: center;
	transform-origin: top left;
	transform: skew(-25deg);
}
.logo img {
	transform: skew(25deg);
}
.border {
	box-shadow: inset 0 -1px 0px 0px #bebebe;
}
.navbar {
	padding-top: 50px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    border-right: 1px solid;
    color: #3f3f3f;
}
#programacao {

}
#programacao h2 {
	padding-top: 25px;
	padding-bottom: 25px;
	color: #005131;
	font-style: italic;
	font-weight: bold;
}
.programacao-content {
	background: #005131;
	color: #fff;
	padding-top: 45px;
	padding-bottom: 45px;
}
.programacao-content .dia {
	margin-bottom: 30px;
}
.programacao-content .dia p {
	margin-bottom: 5px;
	font-style: italic;
}
.programacao-content .col-meio {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
#historia {
	margin-top: 60px;
	margin-bottom: 60px;
}
#historia p {
	text-align: justify;
	margin-top: 10px;
}
#historia h2 {
	margin-bottom: 15px;
	color: #005131;
	font-style: italic;
	font-weight: bold;
}
.sound,
.blog {
	margin-top: 50px;
}
.blog a {
	color: #3f3f3f;
}
#call {
	background: url('img/bg-agenda.jpg') no-repeat top center/cover;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	color: #fff;
}
#call p {
	font-size: 18px;
	font-style: italic;
}
.btn-ipsj {
	background: #005131;
	color: #fff!important;
	border-radius: 0;
}
.btn-ipsj-inverse {
	background: #fff;
	color: #005131!important;
}
#rodape {
	padding-top: 45px;
	padding-bottom: 45px;
}
#rodape h2 {
	color: #005131;
	font-style: italic;
	font-weight: bold;
}
#rodape .fa {
	color: #005131;
}
#rodape .horario {
	margin-bottom: 15px;
}
#rodape .horario p {
	margin: 0;
}
#footer {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #005131;
	color: #fff;
}
.mt15 {
	margin-top: 15px;
}
.title-page {
	text-align: center;
	margin: 25px 0;
	border-bottom: 2px solid #bebebe;
	padding-bottom: 5px;
	color: #005131;
}
.mb-4 a {
	color: #000;
}
/* .dropdown-menu {
	width: 355px;
} */
.dropdown-menu .nav-link {
	border: 0!important;
}
.content-tax {
	border-bottom: 1px solid #005131;
    margin-bottom: 60px;
    padding-bottom: 30px;
}
#mapa iframe {
	width: 100%;
}
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.cat-img{
	min-height: 200px;
	min-width: 200px;
}
@media (max-width: 1199px) {
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 0.5rem;
	    padding-left: 0.5rem;
	}
	.navbar-nav {
		text-align: center;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		border: none;
	}
}
@media (max-width: 767px) {
	.logo,
	.logo img {
		transform: skew(0deg);		
	}
	.navbar {
		padding-top: 7px;
	}
	.programacao-content .col-meio {
		border-right: none;
		border-left: none;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		padding-top: 5px;
		margin-bottom: 5px;
	}
	#historia img {
		margin-top: 15px;
	}
	.dia {
		text-align: center;
	}
	#call .tema {
		margin-top: 30px;
	}
	#call {
		background: #005131;
	}
	#rodape {
		text-align: center;
	}
}